@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: #f9fafb;
	--color-gray-100: #f3f4f6;
	--color-gray-200: #e5e7eb;
	--color-gray-300: #d1d5db;
	--color-gray-400: #9ca3af;
	--color-gray-500: #6b7280;
	--color-gray-600: #4b5563;
	--color-gray-700: #374151;
	--color-gray-800: #1f2937;
	--color-gray-900: #111827;
	--color-gray-950: #030712;

    /* Skuuudle Brand Colors */
    --color-skuuudle-dark: #050505;
    --color-skuuudle-primary: oklch(0.696 0.17 162.48);
    --color-skuuudle-primary-hover: oklch(0.596 0.145 163.225);
    --color-skuuudle-primary-light: oklch(0.845 0.143 164.978);

	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
    body {
        font-family: var(--font-sans);
        @apply antialiased text-gray-900 bg-white;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    
    .glass-panel {
        @apply bg-white/10 backdrop-blur-md border border-white/10;
    }
}
